<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ssm.system.mapper.UserMapper">

	<!-- 通用查询结果列-->
	<sql id="Base_Column_List">
		 id,	loginName,	password,	realName,	roleIds,	status,	createTime,	updateTime
	</sql>

	<!-- 查询（根据主键ID查询） -->
	<select id="selectByPrimaryKey" resultType="user" parameterType="java.lang.Long">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM tb_user
		 WHERE id = #{id}
	</select>

	<!--删除：根据主键ID删除-->
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		 DELETE FROM tb_user
		 WHERE id = #{id}
	</delete>

	<!-- 添加 -->
	<insert id="insert" parameterType="user">
		 INSERT INTO tb_user
 		(id,loginName,password,realName,roleIds,status,createTime,updateTime) 
		 VALUES 
 		(#{id},#{loginName},#{password},#{realName},#{roleIds},#{status},#{createTime},#{updateTime}) 
	</insert>

	<!-- 添加 （匹配有值的字段）-->
	<insert id="insertSelective" parameterType="user">
		 INSERT INTO tb_user
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="id != null">
				 id,
			</if>
			<if test="loginName != null">
				 loginName,
			</if>
			<if test="password != null">
				 password,
			</if>
			<if test="realName != null">
				 realName,
			</if>
			<if test="roleIds != null">
				 roleIds,
			</if>
			<if test="status != null">
				 status,
			</if>
			<if test="createTime != null">
				 createTime,
			</if>
			<if test="updateTime != null">
				 updateTime,
			</if>

		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="id!=null">
				 #{id},
			</if>
			<if test="loginName!=null">
				 #{loginName},
			</if>
			<if test="password!=null">
				 #{password},
			</if>
			<if test="realName!=null">
				 #{realName},
			</if>
			<if test="roleIds!=null">
				 #{roleIds},
			</if>
			<if test="status!=null">
				 #{status},
			</if>
			<if test="createTime!=null">
				 #{createTime},
			</if>
			<if test="updateTime!=null">
				 #{updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 修 改-->
	<update id="updateByPrimaryKeySelective" parameterType="user">
		 UPDATE tb_user
 		 <set> 
			<if test="loginName != null">
				 loginName = #{loginName},
			</if>
			<if test="password != null">
				 password = #{password},
			</if>
			<if test="realName != null">
				 realName = #{realName},
			</if>
			<if test="roleIds != null">
				 roleIds = #{roleIds},
			</if>
			<if test="status != null">
				 status = #{status},
			</if>
			<if test="createTime != null">
				 createTime = #{createTime},
			</if>
			<if test="updateTime != null">
				 updateTime = #{updateTime},
			</if>

 		 </set>
		 WHERE id = #{id}
	</update>

	<!-- 修 改-->
	<update id="updateByPrimaryKey" parameterType="user">
		 UPDATE tb_user
		 SET 
			 loginName = #{loginName},
			 password = #{password},
			 realName = #{realName},
			 roleIds = #{roleIds},
			 status = #{status},
			 createTime = #{createTime},
			 updateTime = #{updateTime}
		 WHERE id = #{id}
	</update>
	
	
	<!-- 页面查询条件 -->
	<sql id="Select_Condition">
		<if test="condition.loginName != null">
			AND INSTR(loginName, #{condition.loginName})>0
		</if>
		<if test="condition.realName != null">
			AND INSTR(realName, #{condition.realName})>0
		</if>
		<if test="condition.status != null">
			AND status = #{condition.status}
		</if>
	</sql>
	
	<!-- 根据条件查询 -->
	<select id="selectListByCondition" parameterType="PageInfo" resultType="user">
        SELECT 
         <include refid="Base_Column_List"/> 
        FROM tb_user 
        WHERE 1=1 
        <include refid="Select_Condition" /> 
        limit #{from},#{size}
    </select>
    
    <select id="selectCountByCondition"  parameterType="PageInfo" resultType="Integer">
    	SELECT COUNT(*) 
    	FROM tb_user 
    	WHERE 1=1 
    	<include refid="Select_Condition" />
    </select>
    
    
    <!-- 根据登录名查询 -->
	<select id="selectByLoginName" resultType="user" parameterType="String">
		 SELECT
		 <include refid="Base_Column_List" />
		 FROM tb_user
		 WHERE loginName = #{loginName}
	</select>

</mapper>